* {
    margin: 0;
    padding: 0;
    font-family: 'AR One Sans', sans-serif;
    cursor: url('./Anh/chuot1.png'), auto;
    scroll-behavior: smooth;
}

.theSystem {
    position: fixed;
    width: 100%;
    z-index: 1500;
    /* Đảm bảo nó nằm trên mọi thứ khác */
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 5px;
    background: linear-gradient(to right, #ccfbff, #ef96c5);
}

.theSystem p {
    display: inline-block;
    position: relative;
    transform: translate(215%);
}

#lang {
    transform: translate(380%);
}

.theSystem .LanguageOption {
    display: inline-block;
    transform: translate(350%);
}

#languageSelector {
    background: linear-gradient(to bottom, #fa5347, #703cc5);
    /* Sử dụng màu chủ đạo cho background */
    border: 1px solid #fdba00;
    color: #ffffff;
    /* Màu chữ trắng */
    padding: 8px 12px;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: background 0.3s, color 0.3s;
    /* Thêm hiệu ứng chuyển đổi màu */
}

#languageSelector:hover,
#languageSelector:focus {
    outline: none;
    background: linear-gradient(to bottom, #2980b9, #3498db);
    /* Màu chuyển khi hover hoặc focus */
    color: #000000;
    /* Màu chữ trắng khi hover hoặc focus */
}

#Englis {
    transform: translate(30%);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

html,
body {
    scroll-behavior: smooth;
    zoom: 100%;
}

.Header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(88, 78, 78, 0.123), rgba(129, 132, 146, 0.7)), url(./anh/First_background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    /* Đảm bảo nó nằm trên mọi thứ khác */
    display: flex;
    padding-top: 50px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

nav img {
    width: 50px;
}

nav a img {
    height: 7em;
    width: 7em;
    border-radius: 100%;
    border: 2px solid #fff;
    box-shadow: rgb(11, 207, 241) 0px 0px 2px 2px;
    margin-left: 80px;
}

nav p {
    position: relative;
    text-align: center;
    font-size: 13px;
    color: #fff;
    padding-left: 10px;
}


.Navigation-Link {
    text-align: right;
    transform: translate(135%);
}

.Navigation-Link ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.Navigation-Link ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 6px 18px;
    font-size: 16px;
}


.Icon-Link .Icon-Link1 {
    text-align: right;
    transform: translate(110%);
}

.Icon-Link .Icon-Link1 ul li {
    list-style: none;
    display: inline-block;
    padding: 7px 20px;
    position: relative;
}

.Icon-Link .Icon-Link1 ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.8s ease;
}


.Navigation-Link ul li a:hover {
    /*chưa có smooth*/
    color: rgb(255, 174, 0);
    text-decoration: none;
    font-size: 16px;
}

.Navigation-Link ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f3a600;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.Navigation-Link ul li:hover::after {
    width: 70%;
}

/*----Chỉnh sửa đặc biệt-----*/




.Intro {
    color: #fff;
    position: absolute;
    width: 90%;
    top: 45%;
    left: 24%;
    transform: translate(-20%, -20%);
    text-align: left;
    overflow: hidden;
    border-right: .15em solid orange;
    height: 300px;
}

.Intro .Text {
    display: inline-block;
}

.Intro .Text h1 {
    font-size: 45px;
}

.Icon-Link ul li a:hover {
    color: #f3a600;
    text-decoration: none;
    transition: 0.5s;
}

.Icon-Link ul p {
    color: #f3a600;
    text-decoration: none;
    font-size: 13px;
}

.Intro .Text p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
}

.Intro .Text a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #ffc400;
    font-size: 13px;
    padding: 12px 34px;
    position: relative;
    cursor: pointer;
    background: transparent;
}

.Intro .Text a:hover {
    border: 1px solid #ff9900;
    background: #f44336;
    transition: 1s;
}

.Intro .iframe {
    transform: translate(60%, -30%);
    display: inline-block;
    position: absolute;
}


/*--------------Về bản thân------------*/
#TheFiveList {
    color: #f35900;
    font-size: 22px;
}

#About_MeH1,
#About_Mep {
    transform: translate(4%, 10%);
    padding: 10px 15px;
}

#About_MeH1 {
    font-size: 40px;
    font-weight: 600;
}

#About_Mep {
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
}

.About_Me {
    width: 70%;
    margin: auto;
    text-align: left;
    padding-top: 190px;
}

.About_Me .Row1 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.About_Me .Row2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.About_Me .Row1,
.Row2 {
    display: flex;
    justify-content: space-between;
}

.AboutMeRow {
    flex-basis: 44%;
    background: #cedde7;
    border-radius: 10px;
    margin-bottom: 4%;
    padding: 18px 7px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: left;
}

.AboutMeRow h3 {
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
    font-size: 21px;
}

.AboutMeRow p {
    color: #4d4d4d;
    text-decoration: none;
}

.AboutMeRow a {
    text-decoration: none;
    color: #e90909;
    cursor: pointer;
}

.AboutMeRow:hover {
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
}

.AboutMeRow h3 i {
    color: rgb(250, 121, 0);
}

/*--------Dịch vụ-------------*/
#Service_H1,
#Service_Mep {
    transform: translate(4%, 10%);
    padding: 10px 15px;
}

#Service_H1 {
    color: white;
    font-size: 40px;
    font-weight: 600;
}

#Service_Mep {
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
}

.Service {
    padding-top: 80px;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(88, 78, 78, 0.123), rgba(129, 132, 146, 0.7)), url(./anh/Service.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.Service .Service_content {
    width: 70%;
    margin: auto;
    text-align: left;
    padding-top: 100px;
}


.Service .Service_content .Row1 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.Service .Service_content .Row2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.Service .Service_content .Row1,
.Row2 {
    display: flex;
    justify-content: space-between;
}

.ServiceRow {
    flex-basis: 44%;
    margin-bottom: 4%;
    padding: 18px 7px;
    text-align: left;
}

.ServiceRow h3 {
    color: white;
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
    font-size: 21px;
}

.ServiceRow h1 {
    color: rgb(250, 121, 0);
    padding-bottom: 30px;
    font-size: 45px;
}

.ServiceRow p {
    color: black;
    font-size: 18px;
}

.ServiceRow:hover {
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
}

.ServiceRow h3 i {
    color: rgb(250, 121, 0);
}


/*-----Dự án học tập----*/
.Project {
    width: 70%;
    margin: auto;
    text-align: left;
    padding-top: 180px;
}

.Project .Row1 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.Project .Row2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.Project .Row1 {
    display: flex;
    justify-content: space-between;
}

.WorkRow {
    flex-basis: 44%;
    margin-bottom: 4%;
    padding: 18px 7px;
    text-align: left;
}

.WorkRow h3 {
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
    font-size: 21px;
}

.WorkRow p {
    color: #4d4d4d;
}

.WorkRow:hover {
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
}

.WorkRow h3 i {
    color: rgb(250, 121, 0);
}

.WorkRow img {
    width: 100%;
    border-radius: 10px;
}


/*-------Liên hệ-------*/

.FullLienHe .Location {
    width: 70%;
    margin: auto;
    padding: 60px 0;
    padding-top: 180px;
}

.FullLienHe .Location iframe {
    width: 100%;
}

.FullLienHe .Lienhe {
    width: 70%;
    margin: auto;

}

.FullLienHe .Lienhe-col {
    flex-basis: 48%;
    margin-bottom: 30px;

}

.Lienhe-col {
    display: inline-block;
}

.Lienhe-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.FullLienHe .Lienhe-col div .fa-solid {
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.FullLienHe .Lienhe-col div .fa-brands {
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.FullLienHe .Lienhe-col div p {
    padding: 0;
    margin: 0;
}

.FullLienHe .Lienhe-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #ff9900;
    font-weight: 400;
    margin: 0;
}

.FullLienHe .Lienhe-col button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 13px;
    padding: 12px 34px;
    position: relative;
    cursor: pointer;
    background: transparent;
}

.FullLienHe .Lienhe-col button:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.FullLienHe .Lienhe-col button {
    display: inline-block;
    border: 1px solid #fdc200;
    background: transparent;
    color: #f18900;
}

.FullLienHe .Lienhe-col button:hover {
    color: #fff;
}

.FullLienHe .Lienhe-col input,
.FullLienHe .Lienhe-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.FullLienHe .Location p {
    color: #f35900;
    padding-bottom: 20px;
}

.FullLienHe {
    min-height: 100vh;
    height: 550px;
    width: 100%;
    background-image: linear-gradient(rgba(88, 78, 78, 0.123), rgba(129, 132, 146, 0.7)), url(./Anh/Handshake.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 20px;
}

/*-----Footer-----*/
.footer {
    list-style: none;
    text-decoration: none;
    height: 250px;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./Anh/footer.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}


.footer-content1 p {
    color: #d6d;
    line-height: 25px;
    margin-bottom: 10px;
    position: center;
    transform: translateY(50px);
}

.footer-content1 {
    transform: translate(-2%);
    font-size: 20px;
    text-align: center;
}

.footer-content1 .fix {
    padding-bottom: 20px;
}

.footer-content1 .icons a {
    padding: 8px 20px;
    text-align: center;
}


.fix p {
    color: white;
    margin-bottom: 0px;
}

.icons a {
    display: inline-block;
    font-size: 22px;
    color: #d6d6d6;
    margin-bottom: 17px;
    transition: all .40s ease;
    transform: translateY(40px);
}

.icons a:hover {
    color: #fff;
    transform: translateY(35px);
}

.footer-content1 .Ket {
    border-bottom: 2px solid #353535;
    display: inline-block;
    padding-bottom: 5px;
}


/*------popup---------*/
/* Thêm vào phần CSS của bạn */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    /* Chọn chiều rộng mong muốn */
    max-width: 1000px;
    /* Chọn chiều rộng tối đa nếu cần */
    height: auto;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    /* Đổi con trỏ thành pointer khi hover để biểu thị là có thể click */
}

.popup-content {
    position: relative;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    text-align: left;
}

.popup h2 {
    margin-top: 0;
}

.popup p {
    font-size: 18px;
}

.WorkRow p a {
    text-decoration: none;
}


/*-----Cuộn kéo------*/

/*-----------Container CSS Start-------*/
.End {
    height: 80px;
    background-image: url('./Anh/Slogan.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(63, 20, 221);
}

.End p {
    text-align: center;
    font-size: 24px;
    transform: translate(-4%);
}